{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}{{username}}'s profile{% endblock %}

{% block content %}
    <h2 class="mt-3">{{username}}</h2>
    <h5 class="mb-3">Rating: {{rating}}</h5>
    
    <table class="table">
        <thead class="thead">
            <th scope="col">Reviews</th>
        </thead>
        <tbody>
            {% if reviews|length > 0 %}
                {% for review in reviews %}
                <tr scope="row">
                    <td>{{review}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr scope="row">
                    <td>No one has left a review for this user :(</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
{% endblock %}
